<?xml version="1.0"?><!--
  ~ /**
  ~  * PHP version 5
  ~  *
  ~  * LICENSE: This source file is subject to version 3.01 of the PHP license
  ~  * that is available through the world-wide-web at the following URI:
  ~  * http://www.php.net/license/3_01.txt.  If you did not receive a copy of
  ~  * the PHP License and are unable to obtain it through the web, please
  ~  * send a note to license@php.net so we can mail you a copy immediately.
  ~  *
  ~  * @category   CategoryName
  ~  * @package    PackageName
  ~  * @author     Ilya Voinov <ilya.voinov@yahoo.com>
  ~  * @copyright  1997-2018 The PHP Group
  ~  * @license    http://www.php.net/license/3_01.txt  PHP License 3.01
  ~  */
  -->
<config>
    <sections>
        <shipping>
            <groups>
                <option>
                    <fields>
                        <select_lower_shipping_method translate="label">
                            <label>Select lower shipping method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Pre-select shipping method with the lower shipping price]]></comment>
                        </select_lower_shipping_method>
                    </fields>
                </option>
            </groups>
        </shipping>
    </sections>
</config>